<app-header></app-header>
<app-search-bar></app-search-bar>
<div class="flex mx-16">
  <div class="w-8/12 pr-8">
    <div class="text-3xl text-blue-950 mt-8 mb-8">
      {{ adData.title }}
    </div>

    <div class="relative w-5/6 px-8">
      <img
        [src]="selectedImage"
        alt="Image"
        class="w-full"
        style="z-index: 1"
      />

      <button
        class="absolute top-1/2 left-0 transform -translate-y-1/2"
        (click)="changeImage('previous')"
        style="z-index: 2"
      >
        <i class="material-icons">chevron_left</i>
      </button>

      <button
        class="absolute top-1/2 right-0 transform -translate-y-1/2"
        (click)="changeImage('next')"
        style="z-index: 2"
      >
        <i class="material-icons">chevron_right</i>
      </button>
    </div>

    <div class="flex">
      <img
        *ngFor="let img of adData.images"
        [src]="img"
        (click)="changeImage(img)"
        alt="Image"
        class="h-48 mt-4 mr-4"
      />
    </div>

    <div class="mt-8">
      <p>Description</p>

      <div>
        <p class="text-lg text-blue-950">{{ adData.subtitle }}</p>
        <p class="text-left">{{ adData.description }}</p>
      </div>
    </div>

    <div>
      <p class="text-xl text-blue-950">Contact Seller</p>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div>
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Name</mat-label>
            <input matInput type="text" formControlName="name" required>
          </mat-form-field>
        </div>
      
        <div>
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Email</mat-label>
            <input matInput type="email" formControlName="email" required>
          </mat-form-field>
        </div>
      
        <div>
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Message</mat-label>
            <textarea matInput formControlName="message" required (input)="updateWordCount($event)" maxlength="2000"></textarea>
            <mat-hint align="end">{{ wordCount }}/2000</mat-hint>
          </mat-form-field>
        </div>
      
        <div class="flex justify-center mt-8 mb-8">
          <button mat-raised-button color="primary" type="submit" class="w-5/6">Submit</button>
        </div>
      </form>
    </div>
  </div>
  <div class="w-4/12">Column 2</div>
</div>
<app-footer></app-footer>
