<div class="mt-5 mb-5">
  <mat-card [ngStyle]="{ background: gradient }">
    <button
      class="flex justify-between mx-4 mt-4"
      [routerLink]="['/category', title | kebabCase]"
    >
      <div class="align-middle text-2xl">{{ title }}</div>
      <div class="bg-yellow-300 rounded-full w-8 h-8 p-1">
        <mat-icon>{{ icon }}</mat-icon>
      </div>
    </button>

    <mat-card-content>
      <div class="mt-4">
        <div class="mt-1" *ngFor="let item of stringArray">
          <button [routerLink]="['/category', item | kebabCase]">
            {{ item }}
          </button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
