@media (min-width: 1000px) {
    .home-page-card {
        height: 60vw;
    }
}


@media (min-width: 1400px) {
    .home-page-card {
        height: 93vh;
    }
}

@media (min-width: 2000px) {
    .home-page-card {
        height: 43vh;
    }
}



@media (min-width: 2500px) {
    .home-page-card {
        height: 43vh;
    }
}
