<app-header></app-header>

<div class="text-center text-3xl mt-12 mb-12">
  Post <span class="text-red-500"> Ad</span>
</div>
<form [formGroup]="postAdForm" class="form" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <mat-label>Category</mat-label>
    <input
      matInput
      id="category"
      formControlName="category"
      placeholder="e.g automotive, tickets, jobs"
    />
    <mat-hint>Tell us what you’re posting</mat-hint>
  </mat-form-field>

  <mat-form-field class="mt-3">
    <mat-label>Sub-category</mat-label>
    <input
      matInput
      id="subCategory"
      formControlName="subCategory"
      placeholder="e.g classic car, SUVs, Truck"
    />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Location</mat-label>
    <input
      matInput
      id="location"
      formControlName="location"
      placeholder="e.g NY, UK, USA"
    />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Title</mat-label>
    <input
      matInput
      id="title"
      formControlName="title"
      placeholder="e.g Classic car available in ..."
    />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Description</mat-label>
    <textarea
      matInput
      id="description"
      formControlName="description"
      placeholder="Write your description here"
      (keyup)="updateWordCount($event)"
    ></textarea>
    <mat-hint align="end">{{ wordCount }}/2000</mat-hint>
  </mat-form-field>

  <mat-form-field class="w-5/12">
    <mat-label>Price</mat-label>
    <input matInput id="price" formControlName="price" placeholder="$$" />
  </mat-form-field>

  <!-- <div>
    <label for="photos">Photos</label>
    <input type="file" id="photos" formControlName="photos" />
  </div> -->

  <label for="photos">Photos</label>
  <div class="flex items-center justify-center w-5/12">
    <label
      for="dropzone-file"
      class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50   hover:bg-gray-100 "
    >
      <div class="flex flex-col items-center justify-center pt-5 pb-6">
        <svg
          class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 20 16"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"
          />
        </svg>
        <p class="mb-2 text-sm text-gray-500 dark:text-gray-400">
          <span class="font-semibold">Click to upload</span> or drag and drop
        </p>
        <p class="text-xs text-gray-500 dark:text-gray-400">
          SVG, PNG, JPG or GIF (MAX. 800x400px)
        </p>
      </div>
      <input type="file" id="photos" formControlName="photos" class="hidden" />
    </label>
  </div>

  <div>
    <div class="mt-6 flex justify-between">
      <p class="text-primary font-semibold text-xl">Contact Details</p>
      <p class="font-semibold ">Edit</p>
    </div>
    <div class="user-data">
      <div>
        <p>Name: {{ userData.name }}</p>
        <p class="p-0 m-0">Location:{{ userData.location }}</p>
      </div>
      <div>
        <p>Email:{{ userData.email }}</p>
        <p class="p-0 m-0">Phone:{{ userData.phone }}</p>
      </div>
    </div>
    <div class="text-left p-2 bg-[#F2F9FF] mt-4 text-[#00437C] font-light" >
      All emails replies are sent via Gumtree message centre. To deter and
      identify potential fraud, spam or suspicious behavior, we anonymize your
      email address, and reserve the right to monitor conversations.
    </div>

    <div class="text-left p-2 mt-4 text-[#00437C] font-light">
      By selecting Post My Ad you agree you've read and accepted our Terms of
      Use and Posting Rules. Please see our Privacy Notice for information
      regarding the processing of your data.
    </div>
  </div>

  <button
    mat-raised-button
    type="submit"
    [disabled]="!postAdForm.valid"
    color="primary"
    class="mt-16 mb-16 mx-32"
  >
  <span class=" text-accent"> Post Ad</span> 
  </button>
</form>

<app-footer></app-footer>
