<app-header></app-header>
<app-search-bar></app-search-bar>

<div class="flex mx-16">
  <div class="w-9/12">
    <div *ngFor="let card of cards">
      <app-content-card
        [id]="card.id"
        [image]="card.image"
        [title]="card.title"
        [content]="card.content"
      ></app-content-card>
    </div>
  </div>
  <div class="w-3/12">
    <div class="mx-8 text-center">
      <button mat-raised-button class="mx-8" style="background-color: #f9d949">
        Filters
      </button>
    </div>
  </div>
</div>

<app-footer></app-footer>
