.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  app-home-page-card {
    flex: 0 0 calc(25.18% - 2em);
  }

  @media (max-width: 992px) {
    app-home-page-card {
      flex: 0 0 calc(33.3333% - 2em);
    }
  }
  
  @media (max-width: 768px) {
    app-home-page-card {
      flex: 0 0 calc(50% - 2em);
    }
  }

  @media (max-width: 576px) {
    app-home-page-card {
      flex: 0 0 calc(100% - 2em);
      margin-inline: 1rem;
    }
  }

  @media (min-width: 1024px) { // Adjust this to match the breakpoint for large screens in your project
    app-home-page-card:nth-child(4n+3), app-home-page-card:nth-child(4n+2), app-home-page-card:nth-child(4n+1){
      margin-right: 2rem;
    }
  }
  

