<section class=" bg-secondary md:h-16 sm:h-8 sm:flex items-center">
    <div class="sm:mx-16 sm:flex justify-between w-full">
      <div class="sm:space-x-4 text-primary grid sm:block text-center">
        <a href="">
          <span>About</span>
        </a>
        <a href="">
          <span>Locations</span>
        </a>
        <a href="">
          <span>Terms of Use</span>
        </a>
        <a href="">
          <span>Privacy</span>
        </a>
        <a href="">
          <span>Help</span>
        </a>
        <a href="">
          <span>Contact</span>
        </a>
        <a href="">
          <span>terms</span>
        </a>
        <a href="">
          <span>Careers</span>
        </a>
      </div>
      <div class="text-zinc-700 text-center mt-4 sm:mt-0">
        © 2024 vnclassifieds.com, Inc. All rights reserved
      </div>
    </div>
  </section>