<section class=" bg-secondary md:h-16 sm:h-8 sm:flex items-center lg:px-56">
    <div class="sm:flex justify-between w-full ">
      <div class=" text-primary pt-4 sm:pt-0 flex  justify-evenly text-left sm:text-center">
       <div class="grid sm:block sm:space-x-4">
        <a href="" class="">
          <span>About</span>
        </a>
        <a href="">
          <span>Locations</span>
        </a>
        <a href="">
          <span>Terms of Use</span>
        </a>
        <a href="">
          <span>Privacy</span>
        </a>
       </div>
       <div  class="grid sm:block sm:space-x-4">
        <a href="">
          <span>Help</span>
        </a>
        <a href="">
          <span>Contact</span>
        </a>
        <a href="">
          <span>terms</span>
        </a>
        <a href="">
          <span>Careers</span>
        </a>
       </div>
       
      </div>
      <div class="text-zinc-700 text-center mt-4 sm:mt-0">
        © 2024 vnclassifieds.com, Inc. All rights reserved
      </div>
    </div>
  </section>