.link-button {
    text-decoration: underline;
    text-decoration-color: yellow;
    text-decoration-thickness: 2px;
    text-underline-offset: 5px;
    color: yellow;
  }

  .post-ad-button {
    background-color: yellow;
    color: black;
  }