<section class="bg-gray-400 h-8 flex items-center">
    <div class="mx-16 flex justify-between w-full">
      <div class="space-x-4">
        <a href="">
          <span>About</span>
        </a>
        <a href="">
          <span>Locations</span>
        </a>
        <a href="">
          <span>Terms of Use</span>
        </a>
        <a href="">
          <span>Privacy</span>
        </a>
        <a href="">
          <span>Help</span>
        </a>
        <a href="">
          <span>Contact</span>
        </a>
        <a href="">
          <span>terms</span>
        </a>
        <a href="">
          <span>Careers</span>
        </a>
      </div>
      <div class="text-zinc-700">
        © 2024 vnclassifieds.com, Inc. All rights reserved
      </div>
    </div>
  </section>